<div class="section-title">
			<h2>Bữa Trưa</h2>
</div>

<div class="mt-4">
    <div class="row">

    {{#each user}}
     <div class="col-sm-6 col-lg-4" style="margin: 10px 0px;">
         <div class="card card-course-item" style="height: 600px;">
            <a href="/BuaTrua/{{this.SLUG}}">
            <img class="card-img-top" style="height: 300px;" src="{{this.IMAGE}}" alt="{{this.name}}">
            </a>
            <div class="card-body">
                  <a href="/BuaTrua/{{this.SLUG}}">
                  <h5 class="card-title">{{this.NAME}}</h5>
                  </a>

                <p class="card-text">{{this.TITLE}}.</p>
            </div>
            </div>
     </div>
    {{/each}}


    </div>
</div>